{% extends './Basic.html' %} {% block content %}
<h1>PRODUCTS</h1>
<div class="row position-relative d-flex justify-content-center">
  {% for item in items %}

  <div class="col-3 p-4" onclick="">
    <div class="img-holder">
      <img
        style="width: 100%; aspect-ratio: 1.5; object-fit: cover"
        src="{{item.image.url}}"
        alt=""
      />
    </div>
    <div class="details p-1">
      <h5>
        {{item.name}} {{" "}}
        <span class="category">{{item.category}}</span>
      </h5>
      <h6>&#8377; {{item.price}}</h6>
    </div>
  </div>
  {% endfor %}
  <!-- <div class="over position-absolute top-0 w-50">
    <img src="/static/itemimages/images_9.jpeg" class="w-100" alt="" />
  </div> -->
</div>

<br />
{% endblock %}
<!-- <div>
  <h3>{{item.name}}</h3>
  <h4>&#8377;{{item.price}}</h4>
  <b>{{item.category}}</b>
  <i>{{item.created}}</i>
  <div>
    {% for tag in item.tags.all %}
    <li>{{tag}}</li>
    {% endfor %}
  </div>
  <img
    style="aspect-ratio: 9/16; width: 300px; height: 200px"
    src="{{ item.image.url }}"
    alt="hello"
  />
</div> -->
